<!DOCTYPE html>
<html lang="en">

<head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>drink-menu-api</title>
</head>

<body>
            <h1>this is A drink menu api</h1>
            <p>get /api/drink to render drink list </p>
            <p>get /api/drink/:id to render Single drink </p>
            <p>post /api/drink/ to add Single drink </p>
            <p>patch /api/drink/:id to update drink </p>
</body>

</html>